.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  padding-right: 20px;
  animation: animateleft 0.5s;
}

@keyframes animateleft {
  from {
    left: -1000px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.btnn,
.dropDownPollLink {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.btnn {
  color: #fff !important;
  background: #4600b6;
  width: 150px;
  font-size: 16.5px;
}

.dropDownPollLink {
  color: #fff !important;
  background: #27003c;
  padding: 10px 25px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 20px;
}

.logout {
  margin: 25px;
}

.tsBG {
  opacity: 0.7;
  z-index: 120;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

@media screen and (min-width: 654px) {
  .dropdown,
  .tsBG {
    display: none;
  }
}

.user-info {
  margin: 0 0 50px;
}

.nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #d7d6d6;
  border-radius: 10px;
}

.avatarImage {
  margin-bottom: 0;
  height: 90px;
  width: 90px;
}

.highlight {
  color: #27003c;
}
